<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask & Echarts Demo</title>
    <script src="/static/js/echarts.min.js"></script>   
</head>
<body>
    <h1>108年新竹市重要遊憩據點遊客人次統計</h1>
    <div id="main"  style="width: 1000px;height:600px;border-style:solid;">
        <center>顯示圖表</center>
    </div>    

    <script>
var chartDom = document.getElementById('main');
var myChart = echarts.init(chartDom);
var option;
var xdata = {{xdata|tojson}}
var ydata01 = {{ydata01|tojson}}
var ydata02 = {{ydata02|tojson}}
var ydata03 = {{ydata03|tojson}}
var ydata04 = {{ydata04|tojson}}
var ydata05 = {{ydata05|tojson}}
var ydata06 = {{ydata06|tojson}}
var ydata07 = {{ydata07|tojson}}
var ydata08 = {{ydata08|tojson}}
option = {
  tooltip: {
    trigger: 'axis',
    axisPointer: {
      // Use axis to trigger tooltip
      type: 'shadow' // 'shadow' as default; can also be 'line' or 'shadow'
    }
  },
  legend: {},
  grid: {
    left: '3%',
    right: '4%',
    bottom: '3%',
    containLabel: true
  },
  xAxis: {
    type: 'value'
  },
  yAxis: {
    type: 'category',
    data: xdata
  },
  series: [
    {
      name: '十八尖山',
      type: 'bar',
      stack: 'total',
      label: {
        show: true
      },
      emphasis: {
        focus: 'series'
      },
      data:ydata01
    },
    {
      name: '青青草原',
      type: 'bar',
      stack: 'total',
      label: {
        show: true
      },
      emphasis: {
        focus: 'series'
      },
      data: ydata02
    },
    {
      name: '城隍廟',
      type: 'bar',
      stack: 'total',
      label: {
        show: true
      },
      emphasis: {
        focus: 'series'
      },
      data: ydata03
    },
    {
      name: '新竹漁港',
      type: 'bar',
      stack: 'total',
      label: {
        show: true
      },
      emphasis: {
        focus: 'series'
      },
      data: ydata04
    },
    {
      name: '賞蟹步道',
      type: 'bar',
      stack: 'total',
      label: {
        show: true
      },
      emphasis: {
        focus: 'series'
      },
      data: ydata05
    },
    {
      name: '青草湖',
      type: 'bar',
      stack: 'total',
      label: {
        show: true
      },
      emphasis: {
        focus: 'series'
      },
      data: ydata06
    },
    {
      name: '十七公里自行車道',
      type: 'bar',
      stack: 'total',
      label: {
        show: true
      },
      emphasis: {
        focus: 'series'
      },
      data: ydata07
    },
    {
      name: '新竹公園',
      type: 'bar',
      stack: 'total',
      label: {
        show: true
      },
      emphasis: {
        focus: 'series'
      },
      data: ydata08
    }
  ]
};

option && myChart.setOption(option);


    </script>


</body>
</html>